.sidebar {
  display: flex;
  flex-direction: column;
  background: linear-gradient(#160f29 20%,transparent); 
  color: #ddbea8;
  width: 100%;
  align-items: center;
  border-radius: 0 10% 0 0;
  
}

.initials {
  color: white;
  font-size: 1.5rem;
  padding: 0;
  margin: 0;
}
